@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Loster',cursive;
}
.wrapper{
    width:100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ddd;
}
.row{
    width: 100%;
    padding: 50px 100px;
}
.image-section{
    width: 30%;
    float: left;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content p{
    font-size: 20px;
    font-family: serif;
    margin-top: 10px;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
.image-section{
    width: 100%;
    float: none;
}    
.content{
    width: 100%;
    float: none;
    margin-left: 0px;
}
}
